<nav >
    <img src="https://seeklogo.com/images/C/cricket-logo-DC6957DD66-seeklogo.com.png"> 
    <h1 class="text-center" style="background-color:azure ;">˜”*°•.˜”*°• 𝐖𝐞𝐥𝐜𝐨𝐦𝐞 𝐭𝐨 𝐅𝐫𝐚𝐧𝐜𝐡𝐢𝐬𝐞 𝐂𝐫𝐢𝐜𝐤𝐞𝐭 •°*”˜.•°*”˜
    </h1>

    <ul >
    
       <li> <h2 class="float-right" (click)="gotohome1()">𝐂𝐫𝐞𝐚𝐭𝐞 𝐩𝐥𝐚𝐲𝐞𝐫</h2></li>
    
    
       <li>   <h2 class="float-right" (click)="gotohome2()">𝐂𝐫𝐞𝐚𝐭𝐞 𝐓𝐞𝐚𝐦</h2></li>
    
       <li>  <h2 class="float-right" (click)="gotohome3()">𝐒𝐡𝐨𝐰 𝐓𝐞𝐚𝐦𝐬</h2></li>
    
       <li>  <h2 class="float-right" (click)="gotohome4()">𝐒𝐡𝐨𝐰 𝐏𝐥𝐚𝐲𝐞𝐫𝐬</h2></li>
    
    </ul>
</nav>
        
